<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LineChartTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A8036C1E1D8BEF3E00266183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8036C321D8BEF3E00266183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8036C3D1D8BEF3E00266183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
